
<!DOCTYPE html>
<html lang="en">
{include file="head" /}
<body>
<!-- 导航 -->
{include file="nav" /}



<div class="track global-banner d-none d-md-block">
    <img src="http://qiniu.zhishiqiu.com/uploads/20250701/0bef2dcade00de386e6b7f82b7babe43.jpg" alt="">
    <h1>{$content.name}</h1>
</div>
<!-- 手机 -->
<div class="track global-banner d-block d-md-none">
    <img src="http://qiniu.zhishiqiu.com/uploads/20250701/2be5770feb71c28dd367893a1feb2452.jpg" alt="">
</div>





<!--内容-->

<div class="track down-container">
    <div class="container">
        <div class="down-navigation">

            <div class="down-col">
                <a href="34.html" class="down-item">
                    <i class="iconfont icon-chanpin"></i>产品型录        </a>
            </div>
            <div class="down-col">
                <a href="35.html" class="down-item active">
                    <i class="iconfont icon-chanpin"></i>用户手册        </a>
            </div>
            <div class="down-col">
                <a href="36.html" class="down-item">
                    <i class="iconfont icon-chanpin"></i>通讯协议        </a>
            </div>
            <div class="down-col">
                <a href="37.html" class="down-item">
                    <i class="iconfont icon-chanpin"></i>应用&amp;驱动软件        </a>
            </div>
            <div class="down-col">
                <a href="38.html" class="down-item">
                    <i class="iconfont icon-chanpin"></i>应用产品资料        </a>
            </div>

        </div>

        <div class="down-body-container">
            <div class="down-body-title">用户手册</div>
            <div class="row">

                <div class="col-12 col-md-6">
                    <a href="" class="down-item" id="12">
                        <span>AN9640B（V2）系列安全性能综合测试仪用户手册</span>
                        <i class="iconfont icon-xiazai-wenjianxiazai-10"></i>
                    </a>
                </div>
                <div class="col-12 col-md-6">
                    <a href="" class="down-item" id="13">
                        <span>AN9651F（V2）安全性能综合测试仪用户手册</span>
                        <i class="iconfont icon-xiazai-wenjianxiazai-10"></i>
                    </a>
                </div>
                <div class="col-12 col-md-6">
                    <a href="" class="down-item" id="14">
                        <span>AN9632x、xw系列交流耐电压绝缘测试仪用户手册</span>
                        <i class="iconfont icon-xiazai-wenjianxiazai-10"></i>
                    </a>
                </div>
                <div class="col-12 col-md-6">
                    <a href="" class="down-item" id="16">
                        <span>AN9632M系列交流耐电压绝缘测试仪用户手册</span>
                        <i class="iconfont icon-xiazai-wenjianxiazai-10"></i>
                    </a>
                </div>

            </div>
        </div>

    </div>
</div>
<div id="downoald" class="overlay-container">
    <div class="overlay">
        <div class="hint">
            <p id="modalMessage" class="content"></p>
            <button>确定</button>
        </div>
    </div>
</div>


<div class="section fp-auto-height">
    {include file="footer" /}
</div>
</body>
</html>
