<!DOCTYPE html>
<html lang="en">
{include file="head" /}
<body>
<!-- 导航 -->
{include file="nav" /}


<div class="track news-d-title-container">

    <div class="container">

        <div class="title">{$content.title}</div>
        <div class="time">{$content.time}</div>

    </div>

</div>

<div class="track container news-d-content">

    {$content.contents}

</div>

<!-- 上一篇、下一篇 -->
<div class="track container piece-container">
    <div class="piece">

        <a href="116.html" class="piece-over">上一篇：艾满元旦 诺启新程</a>

        <a href="108.html" class="piece-over">下一篇：艾诺仪器亮相首届计量仪器装备展(2024)</a>

    </div>
    <a href="../../lists/32.html?catid=%2F" class="go-back">返回列表</a>
</div>




<div class="section fp-auto-height">
    {include file="footer" /}
</div>
</body>
</html>
