{extend name="base" /}
{block name="content"}


<div class="track global-crumbs">
    <div class="container">
        <a class="crumb" href="index.htm"><span class="iconfont icon-shouye"></span>首页</a> &nbsp; &gt; &nbsp; <a class="crumb" href="22.html">解决方案</a><span class="separator">&gt;</span><a class="crumb" href="209.html">新能源汽车行业</a><span class="separator">&gt;</span><a class="crumb" href="222.html">驱动电机/电控测试解决方案</a>  </div>
</div>




<!--内容-->


<div class="track plan-d-container container">
    <div class="title">驱动电机/电控测试解决方案</div>
    <div class="content">

        <p style="font-size: medium; white-space: normal;"><span style="font-size: 18px;">　　驱动电机/电控为新能源汽车的核心组成部分，新能源汽车对驱动电机要求较高，包括拥有高转矩、高驱动效率、转矩控制灵活以及稳固性和可靠 性高等特点，且以永磁同步电机为主流选择，占比高达90%以上。电控，狭义上指整车控制器，但是新能源汽车的“电控”较多，还有电机控制器与电池管理系统等，这些控制器通过CAN网络等来通信。</span></p><p style="font-size: medium; white-space: normal;"><span style="font-size: 18px;">　　艾诺为用户提供系统的驱动电机/电控电气性能测试解决方案。驱动电机测试系统AN830DX，通道最多支持80个同步测试，电阻测试范围0.1~20000kΩ，功率模块精度最高0.1%，支持USB、RS232、LAN等多种接口。电池模拟器，具有高电压、大电流，宽范围的输出能力，自适应电网回馈功能，满功率持续能量回馈，支持CV、CC、CP工作模式。宽范围可编程直流电源AN53系列电压0-2250V，单机提供15KW输出功率，功率因数高、动态响应快、输出纹波低、功率密度高等优点。具有定功率宽范围输出的突出性能，为氢气循环泵测试提供稳定的电压电流输出。</span></p><p style="text-align:center"><img src="uploads/images/20230602/e6d34b8459b02fa76a72126682d8d74d.jpg" title="电机电控二级图片汽车6.jpg" alt=""></p><p style="font-size: medium; white-space: normal;"><br></p>
    </div>
</div>


<div class="track plan-d-product-list">
    <div class="container">
        <div class="title">相关产品</div>
        <div class="row product-list">


        </div>

        <!-- 分页1 -->
        <div class="global-paging"><a class="item" class="disabled"><i class="iconfont icon-arrow-left-bold"></i></a> <a class="item active">1</a><a class="item" href="/list/222_2.html">2</a> <a class="item" href="/list/222_2.html"><i class="iconfont icon-arrow-right-bold"></i></a></div>
    </div>
</div>
<script>/*<div class="item-spec">` + power + `</div>*/
function getText(url, title, power, thumb){
    return `<div class="col-6 col-md-4 col-lg-3">
        <a href="` + url +`" class="product-item">
          <div class="item-title">` + title + `</div>

        <div class="item-img-box">
          <img class="item-img" src="` + thumb + `" alt="">
        </div>
          <div class="item-learn-more">查看更多</div>
        </a>
      </div>`;
}

function getData(related_products, page){
    $.ajax({
        url: '/api/data/products',
        type: 'POST',
        data: {
            related_products:related_products,
            // limits:limits,
            page:page
        },
        dataType: 'json',
        success: function (res) {
            if(res.code == 1){
                let text = '';
                res.data.forEach(function(item){
                    text += getText(item.url, item.title, item.power, item.thumb);
                });
                $('div.row.product-list').html(text);
            }
        },
        error: function (err) {
        }
    })
}
var page = 1;
$(function(){
    getData('102,100,101,103,131,129,134,135,30,32',1);
    $('div.global-paging a').click(function () {
        $('div.global-paging a').removeClass('active');
        // 表单验证
        if($(this).html() == '<i class="iconfont icon-arrow-right-bold"></i>'){
            if(page < '2'){
                page += 1;
                getData('102,100,101,103,131,129,134,135,30,32',page);
            }
        }
        else if($(this).html() == '<i class="iconfont icon-arrow-left-bold"></i>'){
            if(page > 1){
                page -= 1;
                getData('102,100,101,103,131,129,134,135,30,32',page);
            }
        }
        else {
            page = Number($(this).html())
            getData('102,100,101,103,131,129,134,135,30,32',$(this).html());
        }
        $('div.global-paging a').each(function(i,data){
            if($(this).html()==page){
                $(this).addClass('active')
            }
        });
        return false;
    })
});
</script>



{include file="footer" /}

{/block}