<!DOCTYPE html>
<html lang="en">
{include file="head" /}

<body>
{include file="nav" /}
    

<!-- 面包屑 -->
{include file="position" /}


<!--内容-->
<div class="track prod-d-container">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">

                <div class="swiper swiper-container main-swiper">
                    <div class="swiper-wrapper">

                        {ld:pics value="$content['pics']"}
                        <div class="swiper-slide">
                            <img src="{$item}" alt="">
                        </div>
                        {/ld:pics}
                        
                    </div>
                </div>
                <div class="thumbs-swiper-container">
                    <div class="main-swiper-button main-swiper-button-prev"></div>
                    <div class="main-swiper-button main-swiper-button-next"></div>
                    <div class="swiper swiper-container thumbs-swiper">
                        <div class="swiper-wrapper">

                            {ld:pics value="$content['pics']"}
                            <div class="swiper-slide">
                                <img src="{$item}" alt="">
                            </div>
                            {/ld:pics}
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6">
                <div class="pro-title">{$content.title}</div>
                <div class="pro-content">
                    <div class="tag-container">
                        <div class="tag-title">型号：</div>
                        <div class="tag-list">

                            <div class="tag">{$content.part}</div>


                        </div>
                    </div>
                    <div class="tag-container">
                        <div class="tag-title">应用：</div>
                        <div class="tag-list">

                            <div class="tag">{$content.apply}</div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- 锚点 -->
<div class="track pro-d-anchor">
    <div class="container">
        <a href="#1" class="anchor-item">
            <i class="iconfont icon-chanpinguanli"></i>产品概述
        </a>
        <a href="#2" class="anchor-item">
            <i class="iconfont icon-yunyingguanli"></i>产品特点
        </a>
        <a href="#3" class="anchor-item">
            <i class="iconfont icon-yingyong"></i>产品应用
        </a>
        <a href="#4" class="anchor-item">
            <i class="iconfont icon-jishufuwu"></i>技术规格
        </a>
    </div>
</div>



<!-- 内容 -->
<div class="track container">
    <div class="pro-d-content">
        <div class="track content-item">
            <div class="item-title" id="1">
                <i class="iconfont icon-chanpinguanli"></i>产品概述
            </div>
            <div class="item-content">
                {$content.description}
            </div>
        </div>
        <div class="track content-item">
            <div class="item-title" id="2">
                <i class="iconfont icon-yunyingguanli"></i>产品特点
            </div>
            <div class="item-content">
                {$content.characters}
            </div>
        </div>
        <div class="track content-item">
            <div class="item-title" id="3">
                <i class="iconfont icon-yingyong"></i>产品应用
            </div>
            <div class="item-content">
                {$content.use}
            </div>
        </div>
        <div class="track content-item">
            <div class="item-title" id="4">
                <i class="iconfont icon-jishufuwu"></i>技术规格
            </div>
            <div class="item-content">
                {$content.spec}
            </div>
        </div>
    </div>
</div>

<!-- 资料 -->
<div class="track pro-d-datum">
    <div class="container">
        <div class="pro-d-title">
            <a href="/ldcms/xiazaizhongxin.html">相关资料</a>
        </div>
        <div class="row">
            {if condition="$content.handbook != '' "}
            <div class="col-12 col-md-6">
                <a href="{$content.handbook}" download="" class="datum-item">
                    <span>{$content.title}-用户手册</span>
                    <i class="iconfont icon-xiazai-wenjianxiazai-10"></i>
                </a>
            </div>
            {/if}

            {if condition="$content.agreement != '' "}
            <div class="col-12 col-md-6">
                <a href="{$content.agreement}" download="" class="datum-item">
                    <span>{$content.title}-通讯协议</span>
                    <i class="iconfont icon-xiazai-wenjianxiazai-10"></i>
                </a>
            </div>
            {/if}

            {if condition="$content.drive != '' "}
            <div class="col-12 col-md-6">
                <a href="{$content.drive}" download="" class="datum-item">
                    <span>{$content.title}-应用驱动软件</span>
                    <i class="iconfont icon-xiazai-wenjianxiazai-10"></i>
                </a>
            </div>
            {/if}

            {if condition="$content.resource != '' "}
            <div class="col-12 col-md-6">
                <a href="{$content.resource}" download="" class="datum-item">
                    <span>{$content.title}-应用产品资料</span>
                    <i class="iconfont icon-xiazai-wenjianxiazai-10"></i>
                </a>
            </div>
            {/if}
            
        </div>
    </div>
</div>

<!-- 相关产品 -->
<div class="track pro-d-related container">
    <div class="pro-d-title">
        <a href="../dansanxiangzhinenganguizonghefenxiyi">相关产品</a>
    </div>
    <div class="row product-list">

        {ld:list ext="part" mid="6" cid="$category['pid']"}
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{$item.url}" class="product-item">
                <div class="item-title">{$item.title}</div>
                <div class="item-spec">{$item.part}</div>
                <div class="item-img-box">
                    <img class="item-img" src="{$item.image}" alt="">
                </div>
                <div class="item-learn-more">查看更多</div>
            </a>
        </div>
        {/ld:list}
                                                
            
    </div>
</div>


<script>
    $(function () {
        var thumbsSwiper = new Swiper('.thumbs-swiper', {
            // loop: true,
            on:{
                tap: function(swiper,event) {
                    mainSwiper.slideTo(this.clickedIndex)
                },
            },
            breakpoints: {
                1920: {
                    slidesPerView: 2.5,
                    spaceBetween: 30,
                },
                992: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 30,
                },
                576: {
                    slidesPerView: 2,
                    spaceBetween: 30,
                }
            }
        })
        var mainSwiper = new Swiper('.main-swiper', {
            // loop: true,
            spaceBetween: 30,
            navigation: {
                prevEl: '.main-swiper-button-prev',
                nextEl: '.main-swiper-button-next',
            },
            on: {
                slideChangeTransitionStart: function() {
                    thumbsSwiper.slideTo(this.realIndex)
                },
            },
            // thumbs: {
            //   swiper: thumbsSwiper
            // }
        })
        new Swiper('.product-list', {
            breakpoints: {
                1920: {
                    slidesPerView: 4,
                    spaceBetween: 30,
                },
                992: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                576: {
                    slidesPerView: 2,
                    spaceBetween: 15,
                }
            }
        })
    })
    function jump(url){
        window.location.href=url;
    }

</script>

<!-- footer -->
{include file="footer" /}

{include file="full_page" /}

</body>
</html>
