<!DOCTYPE html>
<html lang="en">
{include file="head" /}
<body>
{include file="nav" /}


<div class="track news-d-title-container">
  <div class="container">

    <div class="title">{$content.intro}</div>
    <div class="time">{$content.time}</div>

  </div>
</div>

<div class="track container news-d-content">
  {$content.contents}
</div>

<!-- 上一篇、下一篇 -->
<div class="track container piece-container">
  <div class="piece">
      {ld:prev}<a href="{$item.url}" class="piece-over">上一篇： {$item.title} </a> {else /} <span class="piece-over">上一篇：暂无 </span>{/ld:prev}
      {ld:next}<a href="{$item.url}" class="piece-over">下一篇：{$item.title} </a> {else /} <span class="piece-over">下一篇：暂无 </span>{/ld:next}
  </div>

    {php}
    // 将标签输出赋值给变量
    ob_start();
    echo \addons\ldcms\model\Document::instance()->getUrlName( $content['cid'] );
    $listUrl = ob_get_clean();
    {/php}
    <a href="/ldcms/{$listUrl}" class="go-back">返回列表</a>


</div>
    
<!-- footer -->
{include file="footer" /}

{include file="full_page" /}

</body>
</html>
