<!DOCTYPE html>
<html lang="en">
{include file="head" /}
<body>


<!-- 导航 -->
{include file="nav" /}


<!-- 电脑 -->
<div class="track global-banner d-none d-md-block">
    {ld:slide name="about_pc" limit="1"}
    <img src="{$item.image}" alt="">
    {/ld:slide}
</div>
<!-- 手机 -->
<div class="track global-banner d-block d-md-none">
    {ld:slide name="about_mobile" limit="1"}
    <img src="{$item.image}" alt="">
    {/ld:slide}
</div>
<!-- 面包屑 -->
{include file="position" /}


<!-- 公司简介 -->
<div class="track about-container" id="109">
    <div class="about-intro-container container">
        <div class="intro-text">
            <div class="text-title">企业简介</div>
            <div class="text-content">
                {$content.intro_content}
            </div>
        </div>

        <div class="intro-img-box">
            <img src="{$content.intro_img}">
            <div class="iconfont video-btn icon-sanjiao3"></div>
        </div>
    </div>
</div>

<!-- 企业文化 -->
<div class="track about-culture container">
    <div class="culture-title">企业文化</div>
    <div class="culture-content">
        <div class="content-text">

            <div class="text-item">
                <div class="icon-box">
                    <img src="{ld:src src='default/images/a444b7f2ce6f7c2e47badf3071685975.png'}" alt="">
                </div>
                <div class="right">
                    <div class="title">使命</div>
                    <div class="content">{$content.culture_mission}</div>
                </div>
            </div>
            <div class="text-item">
                <div class="icon-box">
                    <img src="{ld:src src='default/images/4a916922de0305c14126f2abe49a2088.png'}" alt="">
                </div>
                <div class="right">
                    <div class="title">愿景</div>
                    <div class="content">{$content.culture_prospect}</div>
                </div>
            </div>
            <div class="text-item">
                <div class="icon-box">
                    <img src="{ld:src src='default/images/3467ad57e2c767b07f6bf165ac8785ef.png'}" alt="">
                </div>
                <div class="right">
                    <div class="title">核心价值观</div>
                    <div class="content">{$content.culture_core_value}</div>
                </div>
            </div>


        </div>
    </div>
</div>


<!-- 企业荣誉 -->
<div class="track about-honor container" id="29">
    <div class="honor-header">
        <div class="honor-title">艾诺荣誉</div>
        <div class="honor-tabs">

            <div class="tab active">
                CE证书
            </div>
            <div class="tab">
                技术专利证书
            </div>
            <div class="tab">
                企业荣誉证书
            </div>
            <div class="tab">
                软著专利证书
            </div>


        </div>
    </div>

    <div class="honor-swiper honor-swiper-active swiper swiper-container">
        <div class="swiper-wrapper">

            {ld:pics value="$content['ce_ccie']"}
            <div class="swiper-slide">
                <div class="honor-item">
                    <img class="item-img" src="{$item}" alt="">
                </div>
            </div>
            {/ld:pics}

        </div>
    </div>
    <div class="honor-swiper swiper swiper-container">
        <div class="swiper-wrapper">

            {ld:pics value="$content['skill_ccie']"}
            <div class="swiper-slide">
                <div class="honor-item">
                    <img class="item-img" src="{$item}" alt="">
                </div>
            </div>
            {/ld:pics}

        </div>
    </div>
    <div class="honor-swiper swiper swiper-container">
        <div class="swiper-wrapper">

            {ld:pics value="$content['company_ccie']"}
            <div class="swiper-slide">
                <div class="honor-item">
                    <img class="item-img" src="{$item}" alt="">
                </div>
            </div>
            {/ld:pics}

        </div>
    </div>
    <div class="honor-swiper swiper swiper-container">
        <div class="swiper-wrapper">

            {ld:pics value="$content['patents_ccie']"}
            <div class="swiper-slide">
                <div class="honor-item">
                    <img class="item-img" src="{$item}" alt="">
                </div>
            </div>
            {/ld:pics}

        </div>
    </div>

    <div class="about-honor-pagination"></div><!--分页器-->
</div>


<!-- 视频弹框 -->
<div id="videoBox" class="overlay-container">
    <div id="videoOverlay" class="overlay">
        <div id="videoDialog" class="dialog">
            <div class="dialog-button iconfont icon-RectangleCopy"></div>
            <video class="dialog-video" controls=""
                   src="{$content.intro_video}"></video>
        </div>
    </div>
</div>

<script>
    $(function () {

        // 视频弹框
        // 点击打开
        $('.video-btn').click(function () {
            $("#videoBox").fadeIn(200)
            $("#videoOverlay").animate({
                opacity: 1
            }, 200)
            $("#videoDialog").addClass("active")
            $('.dialog-video').trigger('play');
        })
        // 点击关闭
        $(".dialog-button").click(function () {
            $("#videoBox").fadeOut(200);
            $("#videoDialog").removeClass("active");
            $('.dialog-video').trigger('pause');
        })

        // 点击蒙层关闭弹窗
        $("#videoBox").click(function (event) {
            if (event.target === event.currentTarget) {
                $("#videoBox").fadeOut(200);
                $("#videoDialog").removeClass("active");
                $('.dialog-video').trigger('pause');
            }
        })

        var counts = []
        $('.about-data').each(function (_, item) {
            counts.push(new CountUp(item.id, item.dataset.value, {
                useEasing: true,  // 过渡动画效果，默认ture
                useGrouping: false,  // 千分位效果，例：1000->1,000。默认true
                separator: ',',   // 使用千分位时分割符号
                decimal: '.',   // 小数位分割符号
                prefix: '',    // 前置符号
                suffix: ''    // 后置符号，可汉字
            }))
        })

        function showNumber() {
            counts.forEach(function (item) {
                item.start()
            })
        }

        var isRun = true;
        const windowHeight = $(window).height()


        // 发展历程
        var mainSwiper = new Swiper('.course-main-swiper', {
            noSwiping: true,
            spaceBetween: 50,
            // effect: 'flip',
        })
        new Swiper('.course-thumbs-swiper', {
            slidesPerView: 5,
            direction: "vertical",
            mousewheel: true,
            centeredSlides: true,
            controller: {
                control: mainSwiper,
            }
        })


        // 企业荣誉
        var honorSwiper = initHonorSwiper()

        $('.honor-tabs .tab').click(function () {
            honorSwiper.destroy()
            $(this).addClass('active').siblings().removeClass('active')
            $('.honor-swiper').eq($(this).index()).addClass('honor-swiper-active').siblings().removeClass('honor-swiper-active')
            honorSwiper = initHonorSwiper()
        })

        function initHonorSwiper() {
            return new Swiper('.honor-swiper-active', {
                speed: 2000,
                autoplay: {
                    delay: 6000,
                },
                pagination: {
                    el: '.about-honor-pagination',
                    clickable: true,
                },
                grid: {
                    fill: 'row',
                },
                breakpoints: {
                    1920: {
                        spaceBetween: 20,
                        slidesPerView: 4,
                        slidesPerGroup: 4,
                        grid: {
                            rows: 2,
                        },
                    },
                    1200: {
                        spaceBetween: 20,
                        slidesPerView: 3,
                        slidesPerGroup: 3,
                        grid: {
                            rows: 2,
                        },
                    },
                    768: {
                        spaceBetween: 20,
                        slidesPerView: 2,
                        slidesPerGroup: 2,
                        grid: {
                            rows: 2,
                        },
                    },
                    576: {
                        spaceBetween: 15,
                        slidesPerView: 2,
                        slidesPerGroup: 2,
                        grid: {
                            rows: 2,
                        },
                    }
                }
            })
        }


    })
</script>


<!-- footer -->
{include file="footer" /}
{include file="full_page" /}


</body>
</html>
