<div class="section fp-auto-height">
    <!-- footer -->
    <div class="global-footer">
        <div class="footer-body container fix">
            <div class="body-main">

                {ld:nav pid="0"}
                    {if $item.mid=="6"}
                    <div class="main-item d-none d-lg-block">
                        <a href="{$item.url}" class="link-title">{$item.name}</a>
                        {ld:nav pid="$item['id']"}
                        <a href="{$item.url}" class="item-link">{$item.name}</a>
                        {/ld:nav}
                    </div>
                    {/if}
                {/ld:nav}

                {ld:nav pid="0"}
                {if $item.mid=="2"}
                <div class="main-item d-none d-lg-block">
                    <a href="{$item.url}" class="link-title">{$item.name}</a>
                    {ld:nav pid="$item['id']"}
                    <a href="{$item.url}" class="item-link">{$item.name}</a>
                    {/ld:nav}
                </div>
                {/if}
                {/ld:nav}
                <div class="main-item d-none d-lg-block">
                    <a href="xiazaizhongxin.html" class="link-title">下载中心</a>
                    <a href="xiazaizhongxin.html?type=1&name=产品型录" class="item-link">产品型录</a>
                    <a href="xiazaizhongxin.html?type=2&name=用户手册" class="item-link">用户手册</a>
                    <a href="xiazaizhongxin.html?type=3&name=通讯协议" class="item-link">通讯协议</a>
                    <a href="xiazaizhongxin.html?type=4&name=应用驱动软件" class="item-link">应用驱动软件</a>
                    <a href="xiazaizhongxin.html?type=5&name=应用产品资料" class="item-link">应用产品资料</a>
                </div>

                <div class="main-item d-none d-lg-block">
                    <a href="guanyupunalei.html" class="link-title">关于普纳雷</a>
                    <a href="lianxiwomen.html" class="item-link">联系我们</a>
                    {ld:nav pid="0"}
                    {if $item.mid=="0"}
                    <a href="{$item.outlink}" class="item-link">{$item.name}</a>
                    {/if}
                    {/ld:nav}
                </div>

                <div class="main-item main-contact">
                    <div class="link-title">联系我们</div>
                    <div class="item-link">固话：{$ld.tel}</div>
                    <div class="item-link">QQ： {$ld.qq}</div>
                    <div class="item-link">手机：{$ld.phone}</div>
                    <div class="item-link">邮箱：{$ld.email}</div>
                    <div class="item-link">地址：{$ld.address}</div>
                </div>

                <div style="display: flex;">
                    <div class="main-item main-code">
                        <img src="{$ld.wechat}" class="code-img"
                             alt="">
                        <div class="item-link">普钠雷公众号</div>
                    </div>

                    <div class="main-item main-shop">
                        <a href="{$ld.taobao_link1}" target="_blank">
                            <img src="{ld:src src='default/images/f110511c70ec9f25edffe37839095133.png'}" alt="">
                        </a>
                        <a href="{$ld.jd_link1}" target="_blank">
                            <img src="{ld:src src='default/images/beb611739b82cc5c15f87f51e3dc8fe6.png'}" alt="">
                        </a>
                        <a href="{$ld.albaba_link1}" target="_blank">
                            <img src="{ld:src src='default/images/7557ec8009efe4cefb2488e008f62c54.png'}" alt="">
                        </a>
                        <p>官方商城入口</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container fix">
                <div class="copy">
                    版权所有： {$ld.copyright} · 技术支持：<a href="https://www.sdyunyou.cn" target="_blank">云优网络</a>
                    &nbsp;&nbsp; 备案号:<a href="https://beian.miit.gov.cn/" target="_blank">{$ld.icp}</a>
                </div>
            </div>
        </div>
    </div>
</div>