<div class="section fp-auto-height">
    <!-- footer -->
    <div class="global-footer">
        <div class="footer-body container fix">
            <div class="body-main">

                <div class="main-item d-none d-lg-block">
                    <a href="21.html" class="link-title">产品介绍</a>
                    <a href="58.html" class="item-link">交直流电源系列</a>
                    <a href="60.html" class="item-link">航空电源系列</a>
                    <a href="59.html" class="item-link">测试仪器系列</a>
                    <a href="227.html" class="item-link">电子负载系列</a>
                </div>
                <div class="main-item d-none d-lg-block">
                    <a href="22.html" class="link-title">解决方案</a>
                    <a href="209.html" class="item-link">新能源汽车行业</a>
                    <a href="210.html" class="item-link">光伏储能行业</a>
                    <a href="272.html" class="item-link">电池测试行业</a>
                    <a href="211.html" class="item-link">工业机械电子</a>
                    <a href="208.html" class="item-link">航空航天行业</a>
                </div>
                <div class="main-item d-none d-lg-block">
                    <a href="23.html" class="link-title">应用案例</a>
                    <a href="52.html" class="item-link">新能源汽车行业</a>
                    <a href="51.html" class="item-link">光伏储能行业</a>
                    <a href="274.html" class="item-link">电池测试行业</a>
                    <a href="50.html" class="item-link">工业机械电子</a>
                    <a href="53.html" class="item-link">航空航天行业</a>
                </div>
                <div class="main-item d-none d-lg-block">
                    <a href="32.html" class="link-title">艾诺资讯</a>
                    <a href="32.html" class="item-link">企业新闻</a>
                    <a href="33.html" class="item-link">行业动态</a>
                </div>

                <div class="main-item main-contact">
                    <div class="link-title">联系我们</div>
                    <div class="item-link">固话：400-0532-991</div>
                    <div class="item-link">QQ： 2770184609</div>
                    <div class="item-link">手机：18560798561</div>
                    <div class="item-link">邮箱：sale@ainuo.com</div>
                    <div class="item-link">地址：山东省济南市出口加工区港兴三路1069号</div>
                </div>

                <div style="display: flex;">
                    <div class="main-item main-code">
                        <img src="uploads/images/20241207/98dcd435d28ba711a951d895e2f8292b.jpg" class="code-img"
                             alt="">
                        <div class="item-link">艾诺官方公众号</div>
                    </div>

                    <div class="main-item main-shop">
                        <a href="https://shop438928506.taobao.com/" target="_blank">
                            <img src="uploads/images/20240807/f110511c70ec9f25edffe37839095133.png" alt="">
                        </a>
                        <a href="https://mall.jd.com/index-12597039.html" target="_blank">
                            <img src="uploads/images/20240807/beb611739b82cc5c15f87f51e3dc8fe6.png" alt="">
                        </a>
                        <a href="https://shop994l255121s64.1688.com/" target="_blank">
                            <img src="uploads/images/20240807/7557ec8009efe4cefb2488e008f62c54.png" alt="">
                        </a>
                        <p>官方商城入口</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container fix">
                <div class="copy">
                    版权所有：艾诺仪器 · 技术支持：<a href="https://www.sdyunyou.cn" target="_blank">云优网络</a>
                    &nbsp;&nbsp; 备案号:<a href="https://beian.miit.gov.cn/" target="_blank">鲁ICP备2023004393号</a>
                </div>
            </div>
        </div>
    </div>
</div>