<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{ld:src src='default/css/bootstrap.min.css'}">
    <link rel="stylesheet" href="{ld:src src='default/css/swiper-bundle.min.css'}">
    <link rel="stylesheet" href="{ld:src src='default/css/jquery.fullpage.min.css'}">
    <link rel="stylesheet" href="{ld:src src='default/css/style.css'}">
    <link rel="stylesheet" href="{ld:src src='default/css/ellipsis.css'}">
    <link rel="stylesheet" href="{ld:src src='default/css/animate.min.css'}">
    <link rel="stylesheet" href="{ld:src src='default/css/style1.css'}">
    <link rel="stylesheet" href="{ld:src src='default/css/element.css'}">
    <script src="{ld:src src='default/js/jquery-1.12.4.min.js'}"></script>
    <script src="{ld:src src='default/js/scrollreveal.js'}"></script>
    <script src="{ld:src src='default/js/bootstrap.min.js'}"></script>
    <script src="{ld:src src='default/js/swiper-bundle.min.js'}"></script>
    <script src="{ld:src src='default/js/jquery.fullpage.min.js'}"></script>
    <script src="{ld:src src='default/js/countUp.js'}"></script>
    <script src="{ld:src src='default/js/common.js'}"></script>
    <script src="{ld:src src='default/js/ellipsis.js'}"></script>
    <script src="{ld:src src='default/js/omit.js'}"></script>
    <script src="{ld:src src='default/js/no.js'}"></script>
    <script src="{ld:src src='default/js/vue.js'}"></script>
    <script src="{ld:src src='default/js/element.js'}"></script>
    <script src="{ld:src src='default/js/base.js'}"></script>
    <script src="{ld:src src='default/js/city.js'}"></script>
    <script src="{ld:src src='default/js/axios.min.js'}"></script>


    <title>{$ld.template}</title>
    <meta name="keywords"
          content="{$ld.seo_keywords}">
    <meta name="description"
          content="{$ld.seo_description}">
</head>
<body>