{extend name="base" /}
{block name="content"}
<!-- banner --><!-- 轮播 -->
<div id="fullpage">

    <div class="section">
        <div class="swiper swiper-container index-banner">
            <div class="swiper-wrapper">
                <a href="index.html" class="swiper-slide" data-swiper-autoplay="6000" v="true">
                    <video data-autoplay="" autoplay="" muted="" loop=""
                           src="uploads/files/20241211/64b1c1e5f87b86e77106733b976b9697.mp4"></video>
                </a>
                <a href="210.html" class="swiper-slide">
                    <div class="bg d-none d-lg-block"
                         style="background-image: url(uploads/images/20250114/f6816219c84720aecfb48e58a7888606.jpg);"></div>
                    <img class="d-block d-lg-none" src="uploads/images/20250114/f6816219c84720aecfb48e58a7888606.jpg"
                         alt="">
                    <div class="banner-word">
                        <div class="title">光伏储能解决方案</div>
                        <div class="subtitle empty"></div>
                        <div class="link">了解更多<i class="iconfont icon-icon-arrow-right"></i></div>
                    </div>
                </a>
                <a href="209.html" class="swiper-slide">
                    <div class="bg d-none d-lg-block"
                         style="background-image: url(uploads/images/20241211/acdfee8baa0666d204bf39ab4843d402.jpg);"></div>
                    <img class="d-block d-lg-none" src="uploads/images/20241211/acdfee8baa0666d204bf39ab4843d402.jpg"
                         alt="">
                    <div class="banner-word">
                        <div class="title">新能源汽车解决方案</div>
                        <div class="subtitle empty"></div>
                        <div class="link">了解更多<i class="iconfont icon-icon-arrow-right"></i></div>
                    </div>
                </a>
                <a href="shows/189/44.html" class="swiper-slide">
                    <div class="bg d-none d-lg-block"
                         style="background-image: url(uploads/images/20250213/9a8074645f5a56b53baf37748f4a7122.jpg);"></div>
                    <img class="d-block d-lg-none" src="uploads/images/20250213/9a8074645f5a56b53baf37748f4a7122.jpg"
                         alt="">
                    <div class="banner-word">
                        <div class="title">机场供电解决方案</div>
                        <div class="subtitle empty"></div>
                        <div class="link">了解更多<i class="iconfont icon-icon-arrow-right"></i></div>
                    </div>
                </a>
                <a href="219.html" class="swiper-slide">
                    <div class="bg d-none d-lg-block"
                         style="background-image: url(uploads/images/20230523/1e46deb89d47b8a37dce567fcb33f971.jpg);"></div>
                    <img class="d-block d-lg-none" src="uploads/images/20230523/1e46deb89d47b8a37dce567fcb33f971.jpg"
                         alt="">
                    <div class="banner-word">
                        <div class="title">氢能及燃料电池测试</div>
                        <div class="subtitle empty"></div>
                        <div class="link">了解更多<i class="iconfont icon-icon-arrow-right"></i></div>
                    </div>
                </a>


            </div>
            <div class="index-banner-pagination swiper-pagination"></div>
        </div>
    </div>
    <div class="section">
        <!-- 产品 -->
        <div class="index-product">
            <div class="container home">

                <div class="product-controller animate__animated animate__slower">
                    <a class="controller-item active" href="66.html">
                        <img class="bg-img" src="{ld:src src='default/images/index-product-icon-active-bg.png'}" alt="">
                        <!--动态-->
                        <div class="product-item">
                            <div class="img">
                                <img class="product-icon"
                                     src="uploads/images/20220829/9c95e0f620c80a8f51d0e13888909be0.png" alt=""><!--黑-->
                                <img class="product-icon active"
                                     src="uploads/images/20220829/c96771f89df5a09e4a47864284bf57bb.png" alt=""><!--蓝-->
                            </div>
                            <div class="title">交流电源系列</div>
                        </div>
                    </a>
                    <a class="controller-item " href="67.html">
                        <img class="bg-img" src="{ld:src src='default/images/index-product-icon-active-bg.png'}" alt="">
                        <!--动态-->
                        <div class="product-item">
                            <div class="img">
                                <img class="product-icon"
                                     src="uploads/images/20220829/2901089a25aedf1417f192824240f082.png" alt=""><!--黑-->
                                <img class="product-icon active"
                                     src="uploads/images/20220829/0fbd30d8c974a8306dee6ecab64ab25c.png" alt=""><!--蓝-->
                            </div>
                            <div class="title">直流电源系列</div>
                        </div>
                    </a>
                    <a class="controller-item " href="61.html">
                        <img class="bg-img" src="{ld:src src='default/images/index-product-icon-active-bg.png'}" alt="">
                        <!--动态-->
                        <div class="product-item">
                            <div class="img">
                                <img class="product-icon"
                                     src="uploads/images/20220915/5ed50d7dfa781d5ecd4704d4acaab605.png" alt=""><!--黑-->
                                <img class="product-icon active"
                                     src="uploads/images/20220915/9dd08696a5caeda299fac632fb3f71f4.png" alt=""><!--蓝-->
                            </div>
                            <div class="title">航空电源系列</div>
                        </div>
                    </a>
                    <a class="controller-item " href="62.html">
                        <img class="bg-img" src="{ld:src src='default/images/index-product-icon-active-bg.png'}" alt="">
                        <!--动态-->
                        <div class="product-item">
                            <div class="img">
                                <img class="product-icon"
                                     src="uploads/images/20220913/a382ade6435d4443a3cbfb97d574455e.png" alt=""><!--黑-->
                                <img class="product-icon active"
                                     src="uploads/images/20220913/1aa20d8d26e7f3e7a02d2860b160a0ca.png" alt=""><!--蓝-->
                            </div>
                            <div class="title">安规测试仪系列</div>
                        </div>
                    </a>
                    <a class="controller-item " href="63.html">
                        <img class="bg-img" src="{ld:src src='default/images/index-product-icon-active-bg.png'}" alt="">
                        <!--动态-->
                        <div class="product-item">
                            <div class="img">
                                <img class="product-icon"
                                     src="uploads/images/20220915/fa6f8bf9e6a85ea06b92e23225792eb9.png" alt=""><!--黑-->
                                <img class="product-icon active"
                                     src="uploads/images/20220915/54ab191e77f39052697b33beff35713a.png" alt=""><!--蓝-->
                            </div>
                            <div class="title">功率分析仪系列</div>
                        </div>
                    </a>
                    <a class="controller-item " href="65.html">
                        <img class="bg-img" src="{ld:src src='default/images/index-product-icon-active-bg.png'}" alt="">
                        <!--动态-->
                        <div class="product-item">
                            <div class="img">
                                <img class="product-icon"
                                     src="uploads/images/20220914/08437bc27b99b17c660be92214f0df57.png" alt=""><!--黑-->
                                <img class="product-icon active"
                                     src="uploads/images/20220914/7cc3b5bdc9fb10efe562da8705baf95b.png" alt=""><!--蓝-->
                            </div>
                            <div class="title">电机测试系统系列</div>
                        </div>
                    </a>
                    <a class="controller-item " href="64.html">
                        <img class="bg-img" src="{ld:src src='default/images/index-product-icon-active-bg.png'}" alt="">
                        <!--动态-->
                        <div class="product-item">
                            <div class="img">
                                <img class="product-icon"
                                     src="uploads/images/20220915/315f4721cccb089ca52d5c51b1002b98.png" alt=""><!--黑-->
                                <img class="product-icon active"
                                     src="uploads/images/20220915/8789fed6ffc1284252fe925443500b5a.png" alt=""><!--蓝-->
                            </div>
                            <div class="title">电子负载系列</div>
                        </div>
                    </a>
                </div>

                <div class="product-swiper-container animate__animated animate__slower">
                    <div class="product-swiper swiper swiper-container">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <div class="text">
                                    <div class="title">交流电源系列</div>
                                    <div class="content">
                                        山东艾诺研发生产电网模拟电源，交流测试电源，单相交流变频电源、三相交流变频电源，常规单相交流电源500w-10kw，三相系列交流电源15kw-2000kw，完全满足客户对电源的日常使用要求。
                                    </div>
                                    <a class="learn-more" href="66.html">查看更多<i class="iconfont icon-sanjiao3"></i></a>
                                </div>
                                <a class="img-box" href="66.html">
                                    <img src="uploads/images/20241207/3df1663db9958dd1fbafb0a4bf24647f.png" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">
                                    <div class="title">直流电源系列</div>
                                    <div class="content">
                                        艾诺仪器研发生产直流稳压电源、可编程双向直流电源，电池模拟器，光伏模拟器等电源，产品主要应用于新能源汽车电机及控制器、光伏逆变器、高压开关、汽车电子、DCDC模块设备等。
                                    </div>
                                    <a class="learn-more" href="67.html">查看更多<i class="iconfont icon-sanjiao3"></i></a>
                                </div>
                                <a class="img-box" href="67.html">
                                    <img src="uploads/images/20241207/fdd6ba71deeb49c687cd234574f7a28c.png" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">
                                    <div class="title">航空电源系列</div>
                                    <div class="content">山东艾诺研发生产28V飞机地面静变电源，270V飞机地面静变电源，储能式飞机地面静变电源，115V
                                        400Hz地面静变电源，产品主要应用于机场近机位、远机位、维修机库、机场停机坪等集中停靠飞机的场所供电使用。
                                    </div>
                                    <a class="learn-more" href="61.html">查看更多<i class="iconfont icon-sanjiao3"></i></a>
                                </div>
                                <a class="img-box" href="61.html">
                                    <img src="uploads/images/20241209/35565d3ac814706f2515274edee39307.png" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">
                                    <div class="title">安规测试仪系列</div>
                                    <div class="content">
                                        艾诺安规测试仪广泛应用于新能源、电动车辆、家用电器、电机线圈、开关电源等电气电子制造企业。
                                    </div>
                                    <a class="learn-more" href="62.html">查看更多<i class="iconfont icon-sanjiao3"></i></a>
                                </div>
                                <a class="img-box" href="62.html">
                                    <img src="uploads/images/20241207/538db1cdbac4f5dc3e080ed780811344.png" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">
                                    <div class="title">功率分析仪系列</div>
                                    <div class="content">
                                        艾诺仪器生产功率计、交直流功率分析仪、三相功率分析仪，质量可靠，性能稳定，艾诺仪器专业研发团队，满足家用电器等行业内的电压电流功率测试需求。
                                    </div>
                                    <a class="learn-more" href="63.html">查看更多<i class="iconfont icon-sanjiao3"></i></a>
                                </div>
                                <a class="img-box" href="63.html">
                                    <img src="uploads/images/20241209/12bc649ee695b09b644eb75ba77cd1ea.png" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">
                                    <div class="title">电机测试系统系列</div>
                                    <div class="content">
                                        艾诺仪器生产电机整机及定子综合测试系统，质量可靠，性能稳定，艾诺仪器专业研发团队，满足电机马达等行业内的电机型式试验测试需求。
                                    </div>
                                    <a class="learn-more" href="65.html">查看更多<i class="iconfont icon-sanjiao3"></i></a>
                                </div>
                                <a class="img-box" href="65.html">
                                    <img src="uploads/images/20241207/08fba5e8bfd04eb71b1dcba16334d09b.png" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <div class="text">
                                    <div class="title">电子负载系列</div>
                                    <div class="content">
                                        艾诺仪器生产的可编程直流电子负载为开关电源，电池，半导体电子等行业提供专业解决方案，欢迎您的选购。
                                    </div>
                                    <a class="learn-more" href="64.html">查看更多<i class="iconfont icon-sanjiao3"></i></a>
                                </div>
                                <a class="img-box" href="64.html">
                                    <img src="uploads/images/20220916/72a80837603b37a2b13dac8bf40c0829.png" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <!-- 解决方案 -->
        <div class="index-plan">
            <div class="plan-align">
                <div class="plan-header container home animate__animated animate__slower">
                    <div class="index-title">
                        <div class="main-title">解决方案</div>
                        <div class="sub-title arial">/ SOLUTION</div>
                    </div>
                </div>
                <div class="plan-swiper-container animate__animated animate__slower">
                    <div class="plan-swiper swiper swiper-container">
                        <div class="swiper-wrapper">

                            <a class="swiper-slide" href="209.html">
                                <div class="plan-swiper-item">
                                    <div class="item-header">
                                        <div class="item-title">新能源汽车行业</div>
                                        <div class="item-title-sub arial"></div>
                                    </div>
                                    <div class="item-content">
                                        <div class="content-text">
                                            <div class="content-t">
                                                新能源汽车三电系统、驱动电机、整车安规、电池等测试方案。
                                            </div>
                                            <div class="learn-more">
                                                查看详情<i class="iconfont icon-sanjiao3"></i>
                                            </div>
                                        </div>
                                        <div class="content-img">
                                            <img src="uploads/images/20220829/3c8271b259308010a0862d951cc89214.jpg"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="swiper-slide" href="210.html">
                                <div class="plan-swiper-item">
                                    <div class="item-header">
                                        <div class="item-title">光伏储能行业</div>
                                        <div class="item-title-sub arial"></div>
                                    </div>
                                    <div class="item-content">
                                        <div class="content-text">
                                            <div class="content-t">新能源光伏逆变器、储能变流器、光伏组件等测试方案。</div>
                                            <div class="learn-more">
                                                查看详情<i class="iconfont icon-sanjiao3"></i>
                                            </div>
                                        </div>
                                        <div class="content-img">
                                            <img src="uploads/images/20220829/2343b34fda36fd0690802ec6a3c867d9.jpg"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="swiper-slide" href="272.html">
                                <div class="plan-swiper-item">
                                    <div class="item-header">
                                        <div class="item-title">电池测试行业</div>
                                        <div class="item-title-sub arial"></div>
                                    </div>
                                    <div class="item-content">
                                        <div class="content-text">
                                            <div class="content-t">锂电池电芯、电池模组、电池包，氢燃料电池测试解决方案。
                                            </div>
                                            <div class="learn-more">
                                                查看详情<i class="iconfont icon-sanjiao3"></i>
                                            </div>
                                        </div>
                                        <div class="content-img">
                                            <img src="uploads/images/20230511/33f7648978903c0b01d8129cf4ba6390.jpg"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="swiper-slide" href="211.html">
                                <div class="plan-swiper-item">
                                    <div class="item-header">
                                        <div class="item-title">工业机械电子</div>
                                        <div class="item-title-sub arial"></div>
                                    </div>
                                    <div class="item-content">
                                        <div class="content-text">
                                            <div class="content-t">
                                                电机马达、家电、医疗电气设备、开关电源、3C数码等测试方案。
                                            </div>
                                            <div class="learn-more">
                                                查看详情<i class="iconfont icon-sanjiao3"></i>
                                            </div>
                                        </div>
                                        <div class="content-img">
                                            <img src="uploads/images/20220829/68f0e0459eee7ce7b8d1345714302fdb.jpg"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a class="swiper-slide" href="208.html">
                                <div class="plan-swiper-item">
                                    <div class="item-header">
                                        <div class="item-title">航空航天行业</div>
                                        <div class="item-title-sub arial"></div>
                                    </div>
                                    <div class="item-content">
                                        <div class="content-text">
                                            <div class="content-t">机场、飞机维修机库、近机位、远机位等航空飞机供电方案。
                                            </div>
                                            <div class="learn-more">
                                                查看详情<i class="iconfont icon-sanjiao3"></i>
                                            </div>
                                        </div>
                                        <div class="content-img">
                                            <img src="uploads/images/20220829/f1a2e78290df0b22d62be9d892c3db8e.jpg"
                                                 alt="">
                                        </div>
                                    </div>
                                </div>
                            </a>


                        </div>
                        <div class="plan-swiper-button-next">
                            <i class="iconfont icon-jiantou_xiangyou_o"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <!-- 关于我们 -->
        <div class="index-about">
            <div class="container home">
                <div class="about-main">
                    <div class="text-col animate__animated animate__slower">
                        <div class="about-header">
                            <div class="index-title">
                                <div class="main-title">关于艾诺</div>
                                <div class="sub-title arial">/ ABOUT US</div>
                            </div>
                        </div>
                        <div class="about-content">
                            艾诺仪器公司创立于1993年的齐鲁大地，在济青两地拥有自建工业园区。30年来致力于各类电气测量仪器、测试电源和特种电源的研发生产。
                        </div>
                        <a href="lists/26.html?catid=%2F" class="learn-more">
                            查看更多<i class="iconfont icon-sanjiao3"></i>
                        </a>
                    </div>
                    <div class="img-col animate__animated animate__slower">
                        <img class="img-main" src="uploads/images/20220829/35324af3ff93e7ced39bee2e0461569b.jpg" alt="">
                        <img class="img-bg" src="{ld:src src='default/images/index-about-2.jpg'}" alt="">
                    </div>
                </div>
                <div class="about-stat">
                    <div class="stat-item">
                        <i class="iconfont icon-gongsi"></i>
                        <div class="item-data">
                            <span id="count1" data-value="1993" class="about-data data-value arial"></span>
                            年
                        </div>
                        <div class="item-explain">公司成立于</div>
                    </div>
                    <div class="stat-item">
                        <i class="iconfont icon-factory"></i>
                        <div class="item-data">
                            <span id="count2" data-value="32000" class="about-data data-value arial"></span>
                            <span class="data-value arial">+</span>
                            ㎡
                        </div>
                        <div class="item-explain">工业园面积</div>
                    </div>
                    <div class="stat-item">
                        <i class="iconfont icon-renqun"></i>
                        <div class="item-data">
                            <span id="count3" data-value="620" class="about-data data-value arial"></span>
                            <span class="data-value arial">+</span>
                        </div>
                        <div class="item-explain">员工总数</div>
                    </div>
                    <div class="stat-item">
                        <i class="iconfont icon-jiaoyukeyan"></i>
                        <div class="item-data">
                            <span id="count4" data-value="190" class="about-data data-value arial"></span>
                            <span class="data-value arial">+</span>
                        </div>
                        <div class="item-explain">研发团队</div>
                    </div>
                    <div class="stat-item">
                        <i class="iconfont icon-zhishichanquan"></i>
                        <div class="item-data">
                            <span id="count5" data-value="300" class="about-data data-value arial"></span>
                            <span class="data-value arial">+</span>
                        </div>
                        <div class="item-explain">自主知识产权</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <!-- 新闻 -->
        <div class="index-news">
            <div class="container home">
                <div class="index-title animate__animated animate__slower">
                    <div class="main-title">艾诺资讯</div>
                    <div class="sub-title arial">/ NEWS CENTER</div>
                </div>
                <div class="new-content">
                    <div class="news-list swiper swiper-container animate__animated animate__slower">
                        <div class="swiper-wrapper">

                            <div class="swiper-slide">
                                <a href="shows/33/119.html" class="news-item unique"
                                   style="background-image: url('uploads/images/20250220/693def3826e773f82a225c22d8985028.jpg')">
                                    <div class="item-text">
                                        <div class="text-time arial">2025.02.20</div>
                                        <div class="text-title">
                                            新能源汽车&ldquo;退休潮&rdquo;来袭！艾诺助力动力电池回收测试
                                        </div>
                                        <div class="text-content">动力电池回收可提高资源利用率，减少重金属污染，助力&ldquo;双碳&rdquo;目标。但当前电池回收产业的测试技术不完善，导致电池状态评估困难，大幅影响效率。为此国家陆续出台相关政策法规，对电池回收、放电等环节进行规范，相应对电池回收测试提出了更高要求。</div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/32/116.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.12.31</div>
                                        <div class="text-title">艾满元旦 诺启新程</div>
                                        <div class="text-content">新元肇启，烟火照夜白。岁月更迭，梦想仍熠熠。
                                            艾诺与你共启新程！
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20241231/21a79edec60183daea99171d8d98c4d9.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/117.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2025.01.14</div>
                                        <div class="text-title">新能源电机扁线定子X/mini-PIN工艺的局部放电测试解决方案
                                        </div>
                                        <div class="text-content">
                                            X-pin电机相比Hair-pin具有更高的功率密度和生产效率。生产工艺得到简化，但对制造设备的精度控制和工艺要求更为严苛。此外由于X-Pin电机端部焊接工艺的复杂性和难度较高等绝缘问题
                                            ，对检测设备的精度提出了更高的要求。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20250114/3b1474b73dad4a0a0af2d339f0f60682.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/114.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.12.11</div>
                                        <div class="text-title">组串式逆变器测试新思路! 双向可编程直流电源ANEVH-4U系列
                                        </div>
                                        <div class="text-content">
                                            针对组串式逆变器功率持续提升，MPPT路数愈发灵活，艾诺全新研发推出了双向可编程直流电源ANEVH-4U系列。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20241211/5e5cfec2b9ea69632997b8f6385e9693.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/112.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.12.02</div>
                                        <div class="text-title">针对家电新国标GB/T 4706.1-2024的安规高效测试解决方案
                                        </div>
                                        <div class="text-content">
                                            智能制造是引领家电产业绿色转型、实现社会可持续发展的重要推动力。在政策的引导下，家电企业及相关产业链积极参与，共同推动家电产业的绿色升级、从而带动了产线技术的革新和规模提升。据数据显示，2024年中国家电市场零售规模预计8922亿元，同比增长5%。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20241202/dc7256f912fb403b9e4c212f51043f58.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/110.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.11.25</div>
                                        <div class="text-title">高精度多通道功率分析仪ANPA3000 -
                                            助力PCS行业绿色低碳转型
                                        </div>
                                        <div class="text-content">
                                            储能变流器PCS是储能系统中重要的能量转换装置，在保障电能质量和传输效率，在电网稳定安全方面起到重要作用。国家陆续推出多项规范标准，对储能变流器的技术指标、安全性能、以及测试方法等方面进行要求，旨在通过系统性规划与实施，促进储能技术进步，加速推动新型电力系统建设。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20241125/852a2aa9efa567c505d4e4855928d774.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/32/109.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.11.19</div>
                                        <div class="text-title">艾诺仪器德国慕尼黑电子展圆满收官！</div>
                                        <div class="text-content">
                                            艾诺仪器不仅在技术领域内取得了显著的成就，更已经将其发展目光投向了国际市场的广阔舞台，主动寻求与国际伙伴的沟通与协作，共同把握行业发展的新机遇。我们期待着能与更多的朋友并肩同行，共同创造更加辉煌的未来！
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20241119/d671ff65bb8b0a223ae7923a27514e08.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/32/108.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.11.01</div>
                                        <div class="text-title">艾诺仪器亮相首届计量仪器装备展(2024)</div>
                                        <div class="text-content">在展会上，艾诺荣获&ldquo;产品创新奖&rdquo;，这份奖是荣誉，亦是责任。创新是企业发展的不竭动力，未来，艾诺将继续秉承以客户为中心，以正直、包容、精进、卓越为核心价值观，深化技术研发，拓宽应用场景，推动产业升级。同时，我们也期待与更多合作伙伴携手共进，共同开创更加辉煌的明天。</div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20241101/2d249040ea204e2d8a4b86e16b643692.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/106.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.10.31</div>
                                        <div class="text-title">高压架构下OBC测试新利器&mdash;多通道功率分析仪AN87400
                                        </div>
                                        <div class="text-content">
                                            随着用户对电动汽车的驱动及充电性能的追求不断升级,800V高电压架构平台成为众多汽车厂商的选择。与此同时，国家亦已将1000V纳入下一代乘用车大功率快充接口标准，以支持未来高压平台的落地。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20241031/ca9d2ccfd0bdacaa86808c8f64fa9427.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/105.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.10.18</div>
                                        <div class="text-title">助力低空经济&mdash;无人机电机测试高效解决方案</div>
                                        <div class="text-content">
                                            在政策及产业的双重驱动下，低空经济正在成为推动经济增长的新引擎。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20241018/a93b457e7b3fe8b73f3fa590cdd3798c.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/102.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.09.27</div>
                                        <div class="text-title">远距离飞机地面供电解决方案-电动移动卷筒AN17MC系列</div>
                                        <div class="text-content">
                                            随着绿色、智慧建设理念的推动，机场地面保障设备的数量和种类增加，机位设备随之增多，为满足设备布局要求，飞机地面静变电源的设计需要考虑增加供电的覆盖范围
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20240927/f88b68ec56ea1084acd0cda7d5b58067.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/32/101.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.09.14</div>
                                        <div class="text-title">艾韵染秋色 诺许赋衷情</div>
                                        <div class="text-content">艾诺仪器 祝大家中秋节快乐！</div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20240914/3c2035ad3dffc4cbd4f8155ccb5b6ea0.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/95.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.09.05</div>
                                        <div class="text-title">再创新高！单机30KW可回馈交流源载一体机</div>
                                        <div class="text-content">
                                            业界领先的可回馈交流源载一体机ANRGL030A-350系列。该产品可提供30kW功率的可回馈电网模拟电源和36kW的可回馈交流电子负载，单机即可满足光伏储能、电动汽车行业的高性能测试需求，引领新一代交流测试电源的发展方向。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20240912/ca0f9eb9d5e0042eb236d7f85b1d5ecf.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/94.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.08.16</div>
                                        <div class="text-title">双向充电机BOBC测试新利器！可回馈交流源载一体机</div>
                                        <div class="text-content">
                                            作为关键零部件的车载充电机OBC需求量猛增，据数据显示2024年上半年我国0BC装机量为392万套，同比增长38%，预计到2025年将达到1136万套。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20240912/7f4365287f0d3a8b13f8cebec3f5cab1.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/93.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.07.26</div>
                                        <div class="text-title">业界首发！50kW单机高功率电源</div>
                                        <div class="text-content">
                                            艾诺仪器最新高功率密度双向可编程直流电源ANEVH-4U系列，突破传统技术壁垒提升功率密度，单机电源功率高达50kW@4U，为大功率需求客户提供小体积解决方案。广泛适用于新能源三电、光伏储能、微电网、实验室等多种大功率测试测试场景。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20240912/1984378b81212813e5cc2a03ebaddbeb.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/33/91.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.06.14</div>
                                        <div class="text-title">功率分析仪ANPA1000助力驱动电机高效测试</div>
                                        <div class="text-content">
                                            驱动电机作为电动汽车大三电系统的核心部件。其性能直接影响整车的能效、续航里程和可靠性。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20240912/07f36d128f8f11fc32f4b33aefed064f.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/32/100.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.09.13</div>
                                        <div class="text-title">创新引领
                                            筑梦航空-山东艾诺亮相第五届航空维修基地建设与运行管理发展大会
                                        </div>
                                        <div class="text-content">
                                            艾诺携储能式飞机地面静变电源、组合式卷筒电源、方舱电源多款产品，与客户进行技术交流，对话产业链上下游，把握市场动态，共同探讨航空维修领域未来发展趋势。
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20240913/a4cf8f9fa331c20fa16070bbd7e6d272.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/32/97.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2024.08.07</div>
                                        <div class="text-title"> 耕耘未艾 丰稔如诺</div>
                                        <div class="text-content">今日立秋，凉风至，白露生，寒蝉鸣，风吹一片叶。
                                            收获的季节马上到来！
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20240912/125f1190244e2792804d43a26850c4ee.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/32/19.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2022.10.08</div>
                                        <div class="text-title">砥砺前行，再创佳绩&mdash;艾诺仪器新获1项国家发明专利
                                        </div>
                                        <div class="text-content">近日，艾诺仪器所申报的&ldquo;一种增强型新能源汽车电机匝间测试装置&rdquo;通过国家知识产权局审查，被授予发明专利权。</div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20221017/46a3964564bbad7a2d2b2bfe4ec06e8b.png" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/32/16.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2022.10.08</div>
                                        <div class="text-title">艾诺入选2021&ldquo;青岛制造&rdquo;品牌建设重点企业</div>
                                        <div class="text-content">艾诺入选2021&ldquo;青岛制造&rdquo;品牌建设重点企业
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20221008/ae7f62a7dcf15f04db80c50a7b5bd9c5.jpg" alt="">
                                    </div>
                                </a>
                            </div>

                            <div class="swiper-slide">
                                <a href="shows/32/30.html" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">2022.11.08</div>
                                        <div class="text-title">
                                            艾诺仪器主导修订的SJ/T10691-2022《变频变压电源通用规范》标准顺利通过
                                        </div>
                                        <div class="text-content">SJ/T10691-2022《变频变压电源通用规范》标准顺利通过</div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img"
                                             src="uploads/images/20221108/05a74b445725c65fdbb86940e78d2b77.jpg" alt="">
                                    </div>
                                </a>
                            </div>


                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>

    {include file="footer" /}
</div>

{/block}