<!DOCTYPE html>
<html lang="ch">
{include file="head" /}
<body>
<!-- 导航 -->
{include file="nav" /}

<!-- 箭头 -->
<!-- 箭头 -->
<div class="home-bounce">
    <img class="arrow" src="{ld:src src='default/images/jiantou.png'}" alt="">
    <div class="shadow"></div>
    <div class="particle-container">
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
        <div class="particle animated-particle"></div>
    </div>
</div>
<script>

    $(function () {
        // 粒子数组
        var particles = [...document.querySelectorAll('.particle')]
        particles.forEach(assignStylesToParticle)
        $('.home-bounce').click(function () {
            if ($('.home-bounce .arrow').hasClass('back')) {
                $.fn.fullpage.moveTo(1);
            } else {
                $.fn.fullpage.moveSectionDown();
            }
        })
    })

    function getRandomStyles() {
        const duration = (Math.random() * 3 + 1).toFixed(2) // duration is between 1 and 4 seconds
        const x = Math.floor(-10 + Math.random() * 110) // x is between -10% and 100%
        const y = Math.floor(Math.random() * 100) // y is between 0% and 100%
        const h = 15 // height is always 15px
        const w = Math.ceil(Math.random() * 3) // width is between 1 and 3px
        return {
            left: `${x}%`,
            top: `${y}%`,
            height: `${h}px`,
            width: `${w}px`,
            animationDuration: `${duration}s`,
        }
    }

    function assignStylesToParticle(element) {
        if (!element.classList.contains['animated-particle']) {
            element.classList.add('animated-particle')
        }

        const style = getRandomStyles()

        Object.keys(style).forEach((key) => {
            element.style[key] = style[key]
        })

        element.addEventListener(
            'animationend',
            () => {
                element.classList.remove('animated-particle')

                /*
                    浏览器会尝试批量处理累积的更改，并且仅在您正在执行的操作结束时执行计算，
                    这行代码的作用是要求浏览器为您提供有关 dom 的信息。但是为了知道 offsetWidth 的值，
                    浏览器必须放弃批量更改的计划，现在就执行页面的重排
                  */
                void element.offsetWidth
                assignStylesToParticle(element)
            },
            { once: true }
        )
    }
</script>
<div id="fullpage">

    <!-- banner --><!-- 轮播 -->
    <div class="section">
        <div class="swiper swiper-container index-banner">
            <div class="swiper-wrapper">
                <a href="index.html" class="swiper-slide" data-swiper-autoplay="6000" v="true">
                    <video data-autoplay="" autoplay="" muted="" loop=""
                           src="{$ld.video}"></video>
                </a>


                {ld:slide name="index"}
                <a href="{$item.url}" class="swiper-slide">
                    <div class="bg d-none d-lg-block"
                         style="background-image: url({$item.image});"></div>
                    <img class="d-block d-lg-none" src="{$item.image}"
                         alt="">
                    <div class="banner-word">
                        <div class="title">{$item.title}</div>
                        <div class="subtitle empty"></div>
                        <div class="link">了解更多<i class="iconfont icon-icon-arrow-right"></i></div>
                    </div>
                </a>
                {/ld:slide}




            </div>
            <div class="index-banner-pagination swiper-pagination"></div>
        </div>
    </div>

    {ld:nav cid="0"}
    {if $item.mid == "6"}
    <div class="section">
        <!-- 产品 -->
        <div class="index-product">
            <div class="container home">

                <div class="product-controller animate__animated animate__slower">
                    {ld:levelnav level="1" mid="6" cid = "$item['id']"}
                    {if $key == 0}
                    <a class="controller-item active" href="{$item.url}">
                        <img class="bg-img" src="{ld:src src='default/images/index-product-icon-active-bg.png'}" alt=""><!--动态-->
                        <div class="product-item">
                            <div class="img">
                                <img class="product-icon" src="{$item.image}" alt=""><!--黑-->
                                <img class="product-icon active" src="{$item.big_image}" alt=""><!--蓝-->
                            </div>
                            <div class="title">{$item.name}</div>
                        </div>
                    </a>
                    {else /}

                    <a class="controller-item active" href="{$item.url}">
                        <img class="bg-img" src="{ld:src src='default/images/index-product-icon-active-bg.png'}" alt=""><!--动态-->
                        <div class="product-item">
                            <div class="img">
                                <img class="product-icon" src="{$item.image}" alt=""><!--黑-->
                                <img class="product-icon active" src="{$item.big_image}" alt=""><!--蓝-->
                            </div>
                            <div class="title">{$item.name}</div>
                        </div>
                    </a>
                    {/if}
                    {/ld:levelnav}

                </div>

                <div class="product-swiper-container animate__animated animate__slower">
                    <div class="product-swiper swiper swiper-container">
                        <div class="swiper-wrapper">
                            {ld:levelnav level="1" mid="6" cid="1"}
                            <div class="swiper-slide">
                                <div class="text">
                                    <div class="title">{$item.title}</div>
                                    <div class="content">
                                        {$item.seo_description}
                                    </div>
                                    <a class="learn-more" href="{$item.url}">查看更多<i class="iconfont icon-sanjiao3"></i></a>
                                </div>
                                <a class="img-box" href="{$item.url}">
                                    <img src="{$item.index_images}" alt="">
                                </a>
                            </div>
                            {/ld:levelnav}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {elseif $item.urlname == "guanyupunalei" /}
    <div class="section">
        <!-- 关于我们 -->
        <div class="index-about">
            <div class="container home">
                <div class="about-main">
                    <div class="text-col animate__animated animate__slower">
                        <div class="about-header">
                            <div class="index-title">
                                <div class="main-title">{$item.name}</div>
                                <div class="sub-title arial">/ ABOUT US</div>
                            </div>
                        </div>
                        <div class="about-content">
                            {$item.seo_description}
                        </div>
                        <a href="{$item.url}" class="learn-more">
                            查看更多<i class="iconfont icon-sanjiao3"></i>
                        </a>
                    </div>
                    <div class="img-col animate__animated animate__slower">
                        <img class="img-main" src="{$item.index_images}" alt="">
                        <img class="img-bg" src="{ld:src src='default/images/index-about-2.jpg'}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {elseif $item.mid == "2" /}
    <div class="section">
        <!-- 新闻 -->
        <div class="index-news">
            <div class="container home">
                <div class="index-title animate__animated animate__slower">
                    <div class="main-title">{$item.name}</div>
                    <div class="sub-title arial">/ NEWS CENTER</div>
                </div>
                <div class="new-content">
                    <div class="news-list swiper swiper-container animate__animated animate__slower">
                        <div class="swiper-wrapper">
                            {ld:list ext="intro,time,index_img" mid="2" cid="$item['id']" limit="16" simple="false"}
                            {if $item.tag == "unique" }
                            <div class="swiper-slide">
                                <a href="{$item.url}" class="news-item unique"
                                   style="background-image: url('{$item.index_img}')">
                                    <div class="item-text">
                                        <div class="text-time arial">{$item.time}</div>
                                        <div class="text-title">
                                            {$item.title}
                                        </div>
                                        <div class="text-content">
                                            {$item.intro}
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {else /}
                            <div class="swiper-slide">
                                <a href="{$item.url}" class="news-item">
                                    <div class="item-text">
                                        <div class="text-time arial">{$item.time}</div>
                                        <div class="text-title">
                                            {$item.title}
                                        </div>
                                        <div class="text-content">
                                            {$item.intro}
                                        </div>
                                        <div class="text-learn-more">
                                            查看更多
                                            <i class="iconfont icon-sanjiao3"></i>
                                        </div>
                                    </div>
                                    <div class="item-img">
                                        <img class="img" src="{$item.index_img}" alt="">
                                    </div>
                                </a>
                            </div>
                            {/if}
                            {/ld:list}


                        </div>
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
    </div>
    {/if}
    {/ld:nav}



    {include file="footer" /}
</div>

{include file="full_page" /}
</body>
</html>


