<!DOCTYPE html>
<html lang="en">
{include file="head" /}
<body>
<!-- 导航 -->
{include file="nav" /}

<!-- banner --><!-- 轮播 -->
<div class="track global-crumbs">
    <div class="container">
        <a class="crumb" href="index.htm"><span class="iconfont icon-shouye"></span>首页</a> &nbsp; &gt; &nbsp; <a class="crumb" href="21.html">产品介绍</a><span class="separator">&gt;</span><a class="crumb" href="59.html">测试仪器系列</a><span class="separator">&gt;</span><a class="crumb" href="62.html">安规测试仪系列</a>  </div>
</div>
<!-- 导航 -->
<div class="track product-navigation container">

    <div class="primary-navigation">

        {ld:levelnav level="1"}
        {if condition="$item.mid == 6"}
        <!--是否是顶级-->
        <a href="{$item.url}" class="item">
            <img src="{$item.image}" alt="">
            <img class="selected" src="{$item.big_image}" alt="">
            <div class="title">{$item.name}</div>
        </a>
        {else/}
        {/if}
        {/ld:levelnav}

    </div>


    <div class="secondary-navigation">
        <!--是否是上级并且第一位-->
        <a href="127.html" class="item active">全功能安规</a>
        <a href="126.html" class="item">多功能安规</a>
        <a href="124.html" class="item">锂电池安规</a>
        <a href="125.html" class="item">单功能安规</a>
        <a href="123.html" class="item">安规校验装置与测控软件</a>
    </div>

</div>
<div class="track product-container container">
    <div class="row product-list">
        {ld:list ext="part"}
          <div class="col-6 col-md-4 col-lg-3">
            <a href="{$item.url}" class="product-item">
                <div class="item-title item-type">{$item.title}</div>
                <div class="item-spec">{$item.part}</div>
                <div class="item-img-box">
                    <img class="item-img" src="{$item.image}" alt="">
                </div>
                <div class="item-learn-more">查看更多</div>
            </a>
        </div>
        {/ld:list}
    </div>
</div>

<!-- 尾部 -->
<div class="section fp-auto-height">
    <!-- footer -->
    <div class="global-footer">
        <div class="footer-body container fix">
            <div class="body-main">

                <div class="main-item d-none d-lg-block">
                    <a href="21.html" class="link-title">产品介绍</a>
                    <a href="58.html" class="item-link">交直流电源系列</a>
                    <a href="60.html" class="item-link">航空电源系列</a>
                    <a href="59.html" class="item-link">测试仪器系列</a>
                    <a href="227.html" class="item-link">电子负载系列</a>
                </div>
                <div class="main-item d-none d-lg-block">
                    <a href="22.html" class="link-title">解决方案</a>
                    <a href="209.html" class="item-link">新能源汽车行业</a>
                    <a href="210.html" class="item-link">光伏储能行业</a>
                    <a href="272.html" class="item-link">电池测试行业</a>
                    <a href="211.html" class="item-link">工业机械电子</a>
                    <a href="208.html" class="item-link">航空航天行业</a>
                </div>
                <div class="main-item d-none d-lg-block">
                    <a href="23.html" class="link-title">应用案例</a>
                    <a href="52.html" class="item-link">新能源汽车行业</a>
                    <a href="51.html" class="item-link">光伏储能行业</a>
                    <a href="274.html" class="item-link">电池测试行业</a>
                    <a href="50.html" class="item-link">工业机械电子</a>
                    <a href="53.html" class="item-link">航空航天行业</a>
                </div>
                <div class="main-item d-none d-lg-block">
                    <a href="32.html" class="link-title">艾诺资讯</a>
                    <a href="32.html" class="item-link">企业新闻</a>
                    <a href="33.html" class="item-link">行业动态</a>
                </div>

                <div class="main-item main-contact">
                    <div class="link-title">联系我们</div>
                    <div class="item-link">固话：400-0532-991</div>
                    <div class="item-link">QQ： 2770184609</div>
                    <div class="item-link">手机：18560798561</div>
                    <div class="item-link">邮箱：sale@ainuo.com</div>
                    <div class="item-link">地址：山东省济南市出口加工区港兴三路1069号</div>
                </div>

                <div style="display: flex;">
                    <div class="main-item main-code">
                        <img src="uploads/images/20241207/98dcd435d28ba711a951d895e2f8292b.jpg" class="code-img" alt="">
                        <div class="item-link">艾诺官方公众号</div>
                    </div>

                    <div class="main-item main-shop">
                        <a href="https://shop438928506.taobao.com/" target="_blank">
                            <img src="uploads/images/20240807/f110511c70ec9f25edffe37839095133.png" alt="">
                        </a>
                        <a href="https://mall.jd.com/index-12597039.html" target="_blank">
                            <img src="uploads/images/20240807/beb611739b82cc5c15f87f51e3dc8fe6.png" alt="">
                        </a>
                        <a href="https://shop994l255121s64.1688.com/" target="_blank">
                            <img src="uploads/images/20240807/7557ec8009efe4cefb2488e008f62c54.png" alt="">
                        </a>
                        <p>官方商城入口</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container fix">
                <div class="copy">
                    版权所有：艾诺仪器 · 技术支持：<a href="https://www.sdyunyou.cn" target="_blank">云优网络</a> &nbsp;&nbsp; 备案号:<a href="https://beian.miit.gov.cn/" target="_blank">鲁ICP备2023004393号</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
