<!DOCTYPE html>
<html lang="en">
{include file="head" /}
<body>
<!-- 导航 -->
{include file="nav" /}

<!-- 电脑 -->
<div class="track global-banner d-none d-md-block">
  {ld:slide name="new_pc" limit="1"}
  <img src="{$item.image}" alt="">
  {/ld:slide}
</div>
<!-- 手机 -->
<div class="track global-banner d-block d-md-none">
  {ld:slide name="new_mobile" limit="1"}
  <img src="{$item.image}" alt="">
  {/ld:slide}
</div>
<!-- 面包屑 -->
{include file="position" /}

<!-- 列表 -->
<div class="track total-list-container container">
  <div class="row paging">

    {ld:list ext="intro,time" mid="2" cid="$content.pid" limit="6" simple="false"}
    <div class="col-12 col-sm-6 col-md-4">
      <a href="{$item.url}" class="news-list-item">
        <div class="item-img-box">
          <img class="item-img" src="{$item.image}" alt="">
        </div>
        <div class="text">
          <div class="title">{$item.title}</div>
          <div class="intro">{$item.intro}～</div>
          <div class="time arial">{$item.time}</div>
        </div>
      </a>
    </div>
    {/ld:list}
    
  </div>

  <div class="pagination-container">
    {$pages}
  </div>


</div>

<!-- footer -->
{include file="footer" /}
{include file="full_page" /}

</body>
</html>
