<!DOCTYPE html>
<html lang="en">
{include file="head" /}
<body>
<!-- 导航 -->
{include file="nav" /}

<!-- 电脑 -->
<div class="track global-banner d-none d-md-block">
    {ld:slide name="product_pc" limit="1"}
    <img src="{$item.image}" alt="">
    {/ld:slide}
</div>
<!-- 手机 -->
<div class="track global-banner d-block d-md-none">
    {ld:slide name="product_mobile" limit="1"}
    <img src="{$item.image}" alt="">
    {/ld:slide}
</div>

<!-- 面包屑 -->
{include file="position" /}

<!--$category['id']-->

<!-- 导航 -->
<div class="track product-navigation container">

    {if $category['pid'] == 0}
    <div class="primary-navigation">
        {ld:levelnav level="1" mid="6"}
        <a href="{$item.url}" class="item">
            <img src="{$item.image}" alt="">
            <img class="selected" src="{$item.big_image}" alt="">
            <div class="title">{$item.name}</div>
        </a>
        {/ld:levelnav}
    </div>
    {else /}
    <div class="primary-navigation">
        {ld:levelnav level="2" mid="6"}
        <a href="{$item.url}" class="item">
            <img src="{$item.image}" alt="">
            <img class="selected" src="{$item.big_image}" alt="">
            <div class="title">{$item.name}</div>
        </a>
        {/ld:levelnav}
    </div>
    {/if}

    <div class="secondary-navigation">
        <!--是否是上级并且第一位-->
        {if $category['pid'] != 0}
        {ld:levelnav level="3" mid="6"}

        {if $item.id == $category['id'] }
         <a href="{$item.url}" class="item active">{$item.name}</a>
        {else /}
        <a href="{$item.url}" class="item">{$item.name}</a>
        {/if}

        {/ld:levelnav}
        {/if}
    </div>

</div>
<div class="track product-container container">
    {ld:levelnav level="4" mid="6" cid = "$category['id']"}
    <div class="row product-list">
        {ld:list ext="part" mid="6" cid="$item.id"}
        <div class="col-6 col-md-4 col-lg-3">
            <a href="{$item.url}" class="product-item">
                <div class="item-title item-type">{$item.title}</div>
                <div class="item-spec">{$item.part}</div>
                <div class="item-img-box">
                    <img class="item-img" src="{$item.image}" alt="">
                </div>
                <div class="item-learn-more">查看更多</div>
            </a>
        </div>
        {/ld:list}
    </div>
    {/ld:levelnav}
</div>



<!-- footer -->
{include file="footer" /}

{include file="full_page" /}

</body>
</html>


